@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

.introduction {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  background-color: white;
  margin: 8rem 0 1rem;
}

.brand {
  font-family: 'Nunito', sans-serif;
  font-size: 7rem;
  font-weight: 700;
  color: #3ab5fb;
  margin: 0 auto;
  padding: 0;
  letter-spacing: 2px;
}

.description {
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: #000;
  margin: 0 auto;
  padding: 0;
  letter-spacing: 1.5px;
  line-height: 1.5;
  max-width: 820px;
}

.login-btn {
  cursor: pointer;
  font-size: 2rem;
  background-color: #3ab5fb;
  color: #ffffff;
  letter-spacing: 1px;
  margin: 8rem auto 1rem;
  padding: 20px 24px;
  border-radius: 10px;
  border: none;
  width: 50%;
}

/*------- Media queries ------*/

@media(max-width:768px) {

  .brand {
    font-size: 4rem;
  }  
  .description {
    font-size: 1.8rem;
    max-width: 500px;
  }
  .login-btn {
    font-size: 1rem;
    padding: 15px 20px;
    width: 50%;
  }
}

@media(max-width:425px) {

  .introduction {
    margin: 10rem 0 1rem;
  }
  
  .brand {
    font-size: 3rem;
    margin: 0 0 10px;
    letter-spacing: 1.5px;
  }
  
  .description {
    font-size: 1.2rem;
    margin: 0 0 1rem;
    max-width: 350px;
  }
  
  .login-btn {
    font-size: 1rem;
    padding: 15px 20px;
    margin: 8rem 0 1rem;
    width: 60%;
  }

}

@media(max-width:320px) {

  .description {
    margin: 0 0 80px;
    max-width: 260px;
  }
}